/* ----------------common css styles ---------------*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;  
}
body{
    font-family: 'Roboto', sans-serif;
    transition: 1s ease-in-out;
}

.common-button{
    background-color:#E02C6D;
    border:none;
    outline:none;
    color:white;
    padding:1em 2em;
}
.common-button span{
    margin:0 0.5em;
    font-weight:700;
}

/*-------------------- hedear css styles-------------- */
header{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* -------------favourite players list ----------------*/
.favourite-players{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.player-img img{
    width:300px;
}
.player{
    width:330px;
    height:474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin:0 15px 24px;
    padding:15px;
   
}
.player-description{
    margin-top:15px;
}
.player-description h4{
    font-size:2em;
    font-weight:700;
}
.player-description p{
    font-size:1em;
    margin-top:15px;
}


/* --------------- recorded game info---------------------- */
.recorded-game{
    display:grid;
    justify-items: center;
    margin-top:2em;
    grid-row-gap:2em;
}
.recorded-text{
    width:330px;
    display:flex;
    flex-direction: column; 
}
.recorded-text h2{
    padding-bottom:1em;
}
.recorded-text p{
    padding-bottom:1em;
    font-size:1.2em;
}
.recorded-img img{
   width:328px;
   height: 248px;
}

/*------------------------- footer style------------------------*/

footer{
    margin-top:158px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .copy-rights{
    margin:3em 0 1em;
}
.footer-icon i{
    font-size:3em;
    margin:0.5em 0.2em 0.1em;
}
.footer-icon .fa-instagram-square{
    color:#fb3958;
}
.footer-icon .fa-youtube{
    color:#FF0000;
}
.footer-icon .fa-facebook{
    color: #3b5998;
}
.footer-icon .fa-twitter-square{
    color:#00acee;
}



/* ---------------------------------
site responsive part
---------------------------------- */


/* -------------favourite players list ----------------*/
@media screen and (min-width:720px){
    
    .favourite-players{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap:wrap;
        
    }
}
@media screen  and (min-width:1070px) {
    .favourite-players{
        display:grid;
        grid-template-columns: repeat(3, 330px);
        grid-column-gap:30px;
        grid-row-gap:3px;
        
    }
}
/* --------------- recorded game info---------------------- */
@media screen and (min-width:720px){
    .recorded-game{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin:5em 30px 3em;
    }
    
}
@media screen  and (min-width:1070px) {
    .recorded-game{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recorded-text{
        width: 466px;
        display:flex;
        flex-direction: column;
    }
    .recorded-img img{
        width: 567px;
        height: 427px;
        margin-left:70px;
    }
} 
