/* ----------------common css styles ---------------*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;  
}
body{
    font-family: 'Roboto', sans-serif;
    transition: 1s ease-in-out;
}

.common-button{
    background-color:#E02C6D;
    border:none;
    outline:none;
    color:white;
    padding:1em 2em;
    cursor: pointer;
}
.common-button span{
    margin:0 0.5em;
    font-weight:700;
}

/*-------------------- hedear css styles-------------- */
.nav-mobile{
    display: none;
    font-size:2em;
}
.nav-mobile .fa-bars{
    color:white;
   
}

header{
    background-color: darkblue;
    margin-bottom: 86px;
    transition:all 2s ease-in-out ;
}

header:hover{
    animation: animate 5s ease-in-out 2;
}
@keyframes animate {
    0%{
        background-color: darkblue;
    }
    50%{
        background-image: linear-gradient(180deg, blue, green);
        transition:2s;
    }
    100%{
        
        background-image:linear-gradient(230deg, royalblue, purple);
        transition:2s;
    }

}
.nav-container{
    margin:0 auto;
    max-width: 1060px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:2em 4em;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color:#fff;
}
nav ul li{
    margin:.5em;
}


.header-intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img img{
    width: 556.01px;
    height: 438px;
}
.intro-text h1{
    color:#fff;
    width:485px;
    margin-bottom:2em;
}





/* -------------favourite players list ----------------*/
.favourite-players{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.player-img img{
    width:300px;
}
.player{
    width:330px;
    height:474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin:0 15px 24px;
    padding:15px;
   
}
.player-description{
    margin-top:15px;
}
.player-description h4{
    font-size:2em;
    font-weight:700;
}
.player-description p{
    font-size:1em;
    margin-top:15px;
}


/* --------------- recorded game info---------------------- */
.recorded-game{
    display:grid;
    justify-items: center;
    margin-top:2em;
    grid-row-gap:2em;
}
.recorded-text{
    width:330px;
    display:flex;
    flex-direction: column; 
}
.recorded-text h2{
    padding-bottom:1em;
}
.recorded-text p{
    padding-bottom:1em;
    font-size:1.2em;
}
.recorded-img img{
   width:328px;
   height: 248px;
}

/*------------------------- footer style------------------------*/

footer{
    margin-top:158px;
    margin-bottom:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .copy-rights{
    margin-top:2em ;
}
.footer-icon i{
    font-size:3em;
    margin:0.5em 0.2em 0.1em;
}
.footer-icon .fa-instagram-square{
    color:#fb3958;
}
.footer-icon .fa-youtube{
    color:#FF0000;
}
.footer-icon .fa-facebook{
    color: #3b5998;
}
.footer-icon .fa-twitter-square{
    color:#00acee;
}



/* ---------------------------------
site responsive part
---------------------------------- */


/* -------------favourite players list ----------------*/
@media screen and (min-width:720px){
    
    .favourite-players{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap:wrap;
        
    }
}

@media screen  and (min-width:1070px) {
    .favourite-players{
        display:grid;
        grid-template-columns: repeat(3, 330px);
        grid-column-gap:30px;
        grid-row-gap:3px;
        
    }
}
/* --------------- recorded game info---------------------- */
@media screen and (min-width:720px){
    .recorded-game{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin:5em 30px 3em;
    }
    
}
@media screen  and (min-width:1070px) {
    .recorded-game{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recorded-text{
        width: 466px;
        display:flex;
        flex-direction: column;
    }
    .recorded-img img{
        width: 567px;
        height: 427px;
        margin-left:70px;
    }
} 

/* ------------------------heder and nav var styls-------------------- */

@media screen and (max-width:720px){
    .nav-mobile{
        display: block;
    }
    .nav-container{
        margin:0 auto;
        max-width:100%;
    }
    nav{
        display:flex;
    }
    nav ul{
        display:none;
    }

    .header-intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro-img img{
        width:330px;
        height:260px;
        margin-top:2em;
    }

    .intro-text h1{
        width:280px;
    }
}
@media screen and (max-width:1070px){
    .header-intro{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        grid-row-gap: 1em;
    }
}